.cha{
padding-left: 20px;

}

.ch{
    background-color: #f2f2f2;
    border: 1px solid #dddddd; 
}

svg{
    margin-left: 10px;
    margin-right: 20px;
}

.vh{
    margin-left: auto;
}

.hg:hover{
    cursor: pointer;
}
.py-4{
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}
