/* style for the view component */
.user-details {
  background-image: linear-gradient(#FFDEE9, #B5FFFC);
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  color: #212e3b;
  margin-bottom: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

li strong {
  font-weight: bold;
  color: #333;
}

/* Style for data details */
ul {
  border: 2px solid #858e97;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 600px;
  width: 90%;
  font-size: 24px;
  font-family: ui-serif;
  justify-content: space-around;
}

/* Background colors for even and odd list items */
li:nth-child(even) {
  background-color: #f0f0f0;
}

li:nth-child(odd) {
  background-color: #f9f9f9;
}

/* Style for smaller screens */
@media (max-width: 768px) {
  .user-details {
    padding: 20px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  ul {
    max-width: 100%;
  }
}