
/* Style for table */
.container {
  min-height: 100vh;
  overflow-x: auto; 
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #dddddd;
  white-space: nowrap; /* Prevent text wrapping in cells */
}

table th, table td {
  text-overflow: ellipsis; /* Truncate text with ellipsis */
  overflow: hidden;
}

table th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
}

table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height: 50px;
}

.action {
  margin-right: 20px;
}

.act {
  width: 200px;
}

.bn {
  margin-top: 40px;
  margin-bottom: 30px;
}

.homeBg {
  background-image: linear-gradient(#FFDEE9, #B5FFFC);
}

/* Style for add user button */
h1 {
  font-family: auto;
  font-size: 30px;
  display: contents;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}

/* style for edit and view icon */
.action:hover {
  font-size: 1.5em;
  transition: .25s ease-out;
}

/* adjusting the width of footer */
.container-fluid {
  padding: 0px 0px !important;
}

/* Responsive styles */
@media screen and (max-width: 767px) {
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  table th, table td {
    display: inline-block;
    min-width: 100px; 
  }
}