<app-navbar></app-navbar>

<div class="homeBg">
  <div class="button-container">
    <button routerLink="/form" class="btn btn-success" style="margin-top: 6px;">Add User</button>
  </div>
  <div class="container bn" style="height: 100vh">
    <div class="user"></div>
    <!-- checking data is there or not  -->
    <div *ngIf="people.length === 0">
      <h1 style="display: flex; justify-content: center">No Data Found</h1>
    </div>
    <!-- Displaying the data -->
    <table class="table" *ngIf="people.length > 0">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Address</th>
          <th>DOB</th>
          <th>Gender</th>
          <th>ROLE</th>
          <th class="act">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people; let sn = index">
          <td>{{ sn + 1 }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.address }}</td>
          <td>{{ person.dob }}</td>
          <td>{{ person.gender }}</td>
          <td>{{ person.role }}</td>
          <td>
            <!-- Routes for edit-from -->
            <i
              [routerLink]="['/edit', person._id]"
              class="fa-solid fa-user-pen action"
            ></i>

            <!-- Routes for form view -->
            <i
              class="fa-solid fa-eye action"
              [routerLink]="['/view', person._id]"
            ></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div>
